@use './styles.scss';

.mainPosts{

  &__div{ 

@include styles.center-elements();
flex-direction: column;
padding: styles.$default-padding;
margin: styles.$default-padding;
border: 2px solid styles.$default-color;
border-radius: 1rem;
gap: 1rem;
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
&1{
  @include styles.center-elements();
flex-direction: column;

&__h1{
  @include styles.title-700();
    font-size: styles.$post-title;
    text-align: center;
    color: styles.$default-color;
}

&__p{
  font-size: styles.$post-subtitle;
  text-align: center;
  @include styles.title-700();

}

}

&2{
  @include styles.center-elements();
  gap: 1rem;
}

  }
}