@use './styles.scss';

.mainPosts{

  
  &__div{ 
@include styles.center-elements();
flex-direction: column;
padding: styles.$default-padding;
margin: styles.$default-padding;
border: 2px solid styles.$default-color;
border-radius: 1rem;
gap: 1rem;
cursor: pointer;
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
&1{
  @include styles.center-elements();
flex-direction: column;
gap: 1rem;
&__h1{
  @include styles.title-700();
    font-size: styles.$post-title;
    text-align: center;
    color: styles.$default-color;
}
&__p{
  font-size: styles.$post-subtitle;
  text-align: center;
  @include styles.title-700();
}

}



  }
}

@media (min-width: 900px){
  .mainPosts{
    padding: styles.$default-padding;
    margin: styles.$default-padding;
    &__div{
      flex-direction: row;
      justify-content: flex-start;
      margin: styles.$default-padding;
      &1{
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        &__h1{
          font-size: 2rem;
        }
        &__p{
          font-size: 1rem;
        }
      }
    }

  }
}

@media (min-width: 1440px){
  .mainPosts{
    padding: styles.$default-padding;
    margin: styles.$default-padding;
    
    &__div{
      flex-direction: row;
      justify-content: flex-start;
      margin: styles.$default-padding;
      &1{
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;
        &__h1{
          font-size: 2.5rem;
        }
        &__p{
          font-size: 1.5rem;
        }
      }
    }

  }
}