@use './styles.scss';

.postContent{

&__div{
 @include styles.center-elements();
 flex-direction: column;
 gap: 2rem;
 padding: styles.$default-padding;

&__p{
  @include styles.title-400();
  text-align: justify
}

&__buttons{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  
}

  &2{
    @include styles.center-elements();
    gap: 2rem;
    
&__p{
  @include styles.title-700();
  font-size: styles.$post-subtitle;
  color: darkgray
  
}

&__h1{
  @include styles.title-700();
}

  }
 

}
}

@media (min-width: 900px){

  .postContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
  grid-template-areas: 
  "div div div1"
 
  ;
    &__div{
      flex-direction: column;
      grid-area: div;
     justify-content: flex-start;
     align-items: flex-start;
     padding: styles.$large-devices-padding;

     &__p{
      font-size: styles.$post-large-content;
     }
    }
    &__div1{
      
      grid-area: div1;
    }
    &__div2{
      
      &__h1{
        font-size: styles.$post-large-title;
        line-height: 40px;
       
      }
      &__p{
        font-size: styles.$post-large-subtitle;
      }
    }
  }
}