$default-text-size: 1rem;
$default-h1-size: 2rem;

$default-padding: 1rem;
$large-devices-padding: 3rem;

$default-color: #7f97fb;

$post-title: 1.5rem;
$post-subtitle: 0.7rem;
$post-large-title: 2rem;
$post-large-subtitle: 1rem;
$post-large-content: 1.5rem;
$comment-font-size: 0.7rem;

